.button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  /* border-radius: 3em; */
  cursor: pointer;
  display: flex;
  line-height: 1;
  align-items: center;
}
.button svg {
  width: 1.5em;
  height: 1.5em;
}

.button .left svg {
  margin-right: 0.5em;
}
.button .right svg {
  margin-left: 0.5em;
}
.button--primary {
  color: white;
  background-color: #1ea7fd;
}
.button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.button--large {
  font-size: 16px;
  padding: 12px 24px;
}
